aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 0px 13px;
    width: 100%;
}

@media(max-width: 300px) {
    aside.logo img {
        width: 181px;
    }
}